{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}Moderate Participant's Choice{% endblock %}



{% block content %}



<p>The correct answer was: {{ correct_answer }}. The participant chose: {{ participant_choice }}.</p>


<p>The participant chose the {% if choice_correct %}correct side{% else %}incorrect side{% endif %}.</p>
<p>Participant gained {% if preferred_side_chosen  %} 10 {%else %} 0 {% endif %} points.</p> <!-- may be inside if not choice_correct????-->

{% if not choice_correct %}
    <p>Choose between punish and warn</p>
    <p>If you punish - participant will get a payoff of {{ payoff_punish }} points.</p>
    <p>If you warn - participant will get a payoff of {{ payoff_warn }} points.</p>
    <button class="btn btn-danger" id="punish">Punish (Fine: {{ fine_amount }} points)</button>
    <button class="btn btn-warning" id="warn">Warn (No fine)</button>
{% else %}
    <p>Participant's got a payoff of {% if preferred_side_chosen  %} 10 {%else %} 0 {% endif %} points.</p>
    <p>Click next to continue.</p>
    {% next_button %}
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    document.getElementById('punish').addEventListener('click', function() {
        liveSend({decision: 'punish'});
    });
    document.getElementById('warn').addEventListener('click', function() {
        liveSend({decision: 'warn'});
    });
    function liveRecv(data) {
        if (data.decision_made) {
            document.getElementById('punish').style.display = 'none';
            document.getElementById('warn').style.display = 'none';
            document.querySelector('.otree-next').click();
        }
    }
</script>
{% endblock %}