{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}{% endblock %}

{% block styles %}
<style>
    .otree-timer {
        display: none;
    }
    .round-header {
        position: absolute;
        top: 20px;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
    .feedback-content {
        margin-top: 60px;  /* Add space below round number */
        padding: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="round-header position-fixed bg-white" style="top: 60px; left: 50%; transform: translateX(-50%); z-index: 1000;">
    <div class="card-body text-center py-2">
        <h4 class="m-0">Round {{ round_number }}</h4>
    </div>

<div class="feedback-content">
    <p>The paricipant is now getting feedback of their payoff.</p>
    {% if choice_correct %}
    <p>The participant chose correctly and earned {% if preferred_side_chosen %}10{% else %}0{% endif %} points.</p>

    {% else %}
    <p>The participant chose incorrectly.</p>
    <p>You have decided to {{ decision }} and the Chooser {% if round_payoff > 0 %} earned {%else %} lost {% endif %} {{ round_payoff }}</p>
    <p> Have you decided to {{ alternative }}, the Chooser would have {%if alternative_payoff > 0%} earned {%else %} lost {% endif %} {{alternative_payoff}}</p>
    {% endif %}
</div>
{% endblock %}