{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
    
        <p>
            Welcome to our experiment.  
            Please make sure you are in a quiet environment and can focus on the task.
            In addition, please make sure you have a stable internet connection. 
            if you lose connection during the experiment, you will not be able to continue and you will effect the results of the experiment.
        </p>
        <p>
            Before we begin, you will be asked to enter your Prolific ID.
            If you have done this experiment before, you will not be able to participate again.

            After, you will continue to fill a demographic questioneer and read the instructions of the experiment.
              

        </p>
    
        
    
    {% next_button %}
{% endblock %}
